
@{
    ViewData["Title"] = "Error Message";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Message Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">@ViewBag.messageError</div>
        <p class="lead text-gray-800 mb-5">Page Notification Message Error</p>
        <input type="hidden" value="@ViewBag.curentPage" id="Txt_CurentPage" />
        <a href="#" id="btn_ReditectHome">&larr; Back to Home</a>
    </div>

</div>
@section Scripts{
    <script src="~/js/ErrorMessagePage.js" type="module" asp-append-version="true"></script>
}
