.fixedPotionArea {
  margin: 60px 0px;
}
.areaTitle {
  text-align: justify;
  font-family: initial;
  font-weight: 600;
}
.notification {
  text-align: right;
  color: red;
  font-family: initial;
  font-weight: 600;
}
.headerarea {
  background: red;
}
.trChildItem {
  text-align: left;
  font-family: initial;
  font-size: 20px;
  text-decoration: "line-through #ff0000";
}
.btnOption {
  margin: 0px 5px;
}
.firsColum {
  width: 200px;
}
.lastColum {
  width: 215px;
}
.customtable {
  height: 700px;
}
.btnMain {
  text-align: right;
}
.settingBackround {
  background-color: white;
}
.labelForm {
  font-family: initial;
  font-weight: 600;
  margin: 10px 0px;
}
.errorMessage {
  color: red;
  font-family: initial;
}
