.titleItem {
  text-align: left;
  margin: 0px 3px;
  font-family: inherit;
  font-weight: 600;
}

.itemNotNull {
  color: red;
  font-weight: 600;
}
.customtableCreateItemMaster {
  overflow: auto;
  height: 270px;
}
.headerItemMaster {
  font-family: initial;
  font-size: 13px;
}
