.header {
  background-color: rgb(6, 128, 250);
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
}
.title {
  font-family: initial;
  font-size: 20px;
  margin: 7px 0px;
  color: white;
  text-align: left;
}
.infoUser {
  text-align: right;
  font-family: initial;
  font-size: 20px;
  margin: 5px 5px;
}
.positionInfo {
  color: white;
  margin-right: 50px;
}
.dropdown {
  text-align: end;
  margin: 3px 0px;
}
