.alinebuttonsetting {
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}
.btn_setting {
  margin: 5px 10px;
}
.aline_settingHeader {
  text-align: right;
}
.alineStoreTitle {
  text-align: left;
  font-family: initial;
}
.messageError {
  color: red;
  font-family: initial;
  text-align: right;
  margin: 0px 10px;
}
.customtableItemMaster {
  overflow: auto;
  height: 500px;
}
table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
