.form {
  border: 3px solid rgba(43, 121, 236, 0.658);
  border-radius: 10px;
  position: absolute;
  width: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 25px;
  font-family: initial;
  font-weight: 600;
  margin: 20px 0px;
}

.input-title {
  margin: 40px 0px;
  font-family: initial;
}

.btn-login {
  font-size: 20px;
  margin: 10px 0px;
  font-family: initial;
}

.alinebutton {
  text-align: right;
}

.errorMessage {
  color: red;
  font-family: initial;
  font-weight: 600;
}
