.bg-body-tertiary {
  font-weight: 600;
  font-size: 20px;
  font-family: initial;
}
.itemChild {
  text-decoration: none;
}
.menuSibar {
  border: 2px solid rgb(6, 128, 250);
  margin: 5px 0px;
  margin-top: 60px;
  width: inherit;
  position: fixed;
  overflow: auto;
  height: 690px;
}
