.fixedPotionArea {
  margin: 50px 0px;
}
.areaTitle {
  text-align: justify;
  font-family: initial;
  font-weight: 600;
}
.notification {
  text-align: right;
  color: red;
  font-family: initial;
  font-weight: 600;
}
.trChildItem {
  text-decoration: line-through #ff0000;
  text-align: center;
}
.deletestore {
  color: red;
}
.btnOption {
  margin: 0px 5px;
}
.firsColum {
  width: 100px;
}
.lastColum {
  width: 350px;
}
.customtable {
  height: 520px;
  overflow: auto;
}
.btnMain {
  text-align: right;
}
.settingBackround {
  background-color: white;
}
.labelForm {
  font-family: initial;
  font-weight: 600;
  margin: 10px 0px;
}
.errorMessage {
  color: red;
  font-family: initial;
}
.requestData {
  color: red;
  font-weight: 600;
}
